<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-donnateur-heading" data-cy="DonnateurCreateUpdateHeading" jhiTranslate="beveApp.donnateur.home.createOrEditLabel">
        Créer ou éditer un Donnateur
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="beveApp.donnateur.nomDeFamille" for="field_nomDeFamille">Nom De Famille</label>
          <input
            type="text"
            class="form-control"
            name="nomDeFamille"
            id="field_nomDeFamille"
            data-cy="nomDeFamille"
            formControlName="nomDeFamille"
          />
          <div
            *ngIf="editForm.get('nomDeFamille')!.invalid && (editForm.get('nomDeFamille')!.dirty || editForm.get('nomDeFamille')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomDeFamille')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="beveApp.donnateur.prenom" for="field_prenom">Prenom</label>
          <input type="text" class="form-control" name="prenom" id="field_prenom" data-cy="prenom" formControlName="prenom" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="beveApp.donnateur.contact1" for="field_contact1">Contact 1</label>
          <input type="text" class="form-control" name="contact1" id="field_contact1" data-cy="contact1" formControlName="contact1" />
          <div *ngIf="editForm.get('contact1')!.invalid && (editForm.get('contact1')!.dirty || editForm.get('contact1')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('contact1')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="beveApp.donnateur.contact2" for="field_contact2">Contact 2</label>
          <input type="text" class="form-control" name="contact2" id="field_contact2" data-cy="contact2" formControlName="contact2" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="beveApp.donnateur.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="beveApp.donnateur.sexe" for="field_sexe">Sexe</label>
          <select class="form-control" name="sexe" formControlName="sexe" id="field_sexe" data-cy="sexe">
            <option [ngValue]="null">{{ 'beveApp.Sexe.null' | translate }}</option>
            <option *ngFor="let sexe of sexeValues" [value]="sexe">{{ 'beveApp.Sexe.' + sexe | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="beveApp.donnateur.dateDeNaissance" for="field_dateDeNaissance">Date De Naissance</label>
          <input
            type="text"
            class="form-control"
            name="dateDeNaissance"
            id="field_dateDeNaissance"
            data-cy="dateDeNaissance"
            formControlName="dateDeNaissance"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="beveApp.donnateur.pays" for="field_pays">Pays</label>
          <input type="text" class="form-control" name="pays" id="field_pays" data-cy="pays" formControlName="pays" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="beveApp.donnateur.dateDebut" for="field_dateDebut">Date Debut</label>
          <div class="input-group">
            <input
              id="field_dateDebut"
              data-cy="dateDebut"
              type="text"
              class="form-control"
              name="dateDebut"
              ngbDatepicker
              #dateDebutDp="ngbDatepicker"
              formControlName="dateDebut"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDebutDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="beveApp.donnateur.forfait" for="field_forfait">Forfait</label>
          <select class="form-control" name="forfait" formControlName="forfait" id="field_forfait" data-cy="forfait">
            <option [ngValue]="null">{{ 'beveApp.Forfait.null' | translate }}</option>
            <option *ngFor="let forfait of forfaitValues" [value]="forfait">{{ 'beveApp.Forfait.' + forfait | translate }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
