<div>
  <h2 id="page-heading" data-cy="DonHeading">
    <span jhiTranslate="beveApp.don.home.title">Dons</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="beveApp.don.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-don"
        [routerLink]="['/don/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="beveApp.don.home.createLabel"> Créer un nouveau Don </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dons?.length === 0">
    <span jhiTranslate="beveApp.don.home.notFound">Aucun Don trouvé</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="dons && dons.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="beveApp.don.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateDon"><span jhiTranslate="beveApp.don.dateDon">Date Don</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="transaction.numeromtn">
            <span jhiTranslate="beveApp.don.transaction">Transaction</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createurAfricain.label">
            <span jhiTranslate="beveApp.don.createurAfricain">Createur Africain</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="donnateur.prenom">
            <span jhiTranslate="beveApp.don.donnateur">Donnateur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let don of dons; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/don', don.id, 'view']">{{ don.id }}</a>
          </td>
          <td>{{ don.description }}</td>
          <td>{{ don.dateDon | formatMediumDate }}</td>
          <td>
            <div *ngIf="don.transaction">
              <a [routerLink]="['/transaction', don.transaction.id, 'view']">{{ don.transaction?.numeromtn }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="don.createurAfricain">
              <a [routerLink]="['/createur-africain', don.createurAfricain.id, 'view']">{{ don.createurAfricain?.label }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="don.donnateur">
              <a [routerLink]="['/donnateur', don.donnateur.id, 'view']">{{ don.donnateur?.prenom }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/don', don.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button type="submit" [routerLink]="['/don', don.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(don)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="dons && dons.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
