<div>
  <h2 id="page-heading" data-cy="CreateurAfricainHeading">
    <span jhiTranslate="beveApp.createurAfricain.home.title">CreateurAfricains</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="beveApp.createurAfricain.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-createur-africain"
        [routerLink]="['/createur-africain/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="beveApp.createurAfricain.home.createLabel"> Créer un nouveau Createur Africain </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="createurAfricains?.length === 0">
    <span jhiTranslate="beveApp.createurAfricain.home.notFound">Aucun Createur Africain trouvé</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="createurAfricains && createurAfricains.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomDeFamille">
            <span jhiTranslate="beveApp.createurAfricain.nomDeFamille">Nom De Famille</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prenom">
            <span jhiTranslate="beveApp.createurAfricain.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="label">
            <span jhiTranslate="beveApp.createurAfricain.label">Label</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="surnom">
            <span jhiTranslate="beveApp.createurAfricain.surnom">Surnom</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="contact1">
            <span jhiTranslate="beveApp.createurAfricain.contact1">Contact 1</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="contact2">
            <span jhiTranslate="beveApp.createurAfricain.contact2">Contact 2</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sexe">
            <span jhiTranslate="beveApp.createurAfricain.sexe">Sexe</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="beveApp.createurAfricain.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateDeNaissance">
            <span jhiTranslate="beveApp.createurAfricain.dateDeNaissance">Date De Naissance</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pays">
            <span jhiTranslate="beveApp.createurAfricain.pays">Pays</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ville">
            <span jhiTranslate="beveApp.createurAfricain.ville">Ville</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="adresse">
            <span jhiTranslate="beveApp.createurAfricain.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="situationMatrimoniale">
            <span jhiTranslate="beveApp.createurAfricain.situationMatrimoniale">Situation Matrimoniale</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateDebut">
            <span jhiTranslate="beveApp.createurAfricain.dateDebut">Date Debut</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let createurAfricain of createurAfricains; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/createur-africain', createurAfricain.id, 'view']">{{ createurAfricain.id }}</a>
          </td>
          <td>{{ createurAfricain.nomDeFamille }}</td>
          <td>{{ createurAfricain.prenom }}</td>
          <td>{{ createurAfricain.label }}</td>
          <td>{{ createurAfricain.surnom }}</td>
          <td>{{ createurAfricain.contact1 }}</td>
          <td>{{ createurAfricain.contact2 }}</td>
          <td jhiTranslate="{{ 'beveApp.Sexe.' + createurAfricain.sexe }}">{{ createurAfricain.sexe }}</td>
          <td>{{ createurAfricain.email }}</td>
          <td>{{ createurAfricain.dateDeNaissance }}</td>
          <td>{{ createurAfricain.pays }}</td>
          <td>{{ createurAfricain.ville }}</td>
          <td>{{ createurAfricain.adresse }}</td>
          <td jhiTranslate="{{ 'beveApp.SituationMatrimoniale.' + createurAfricain.situationMatrimoniale }}">
            {{ createurAfricain.situationMatrimoniale }}
          </td>
          <td>{{ createurAfricain.dateDebut | formatMediumDate }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/createur-africain', createurAfricain.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/createur-africain', createurAfricain.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(createurAfricain)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="createurAfricains && createurAfricains.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
